<aside class="sidebar">

<div class="brand-card">

<div class="brand-logo-wrap">
<img src="../assets/images/h2zero-logo.jpg">
</div>

<div>
<h2 class="brand-title">H2Zero</h2>
<p class="brand-subtitle">Inventory System</p>
</div>

</div>

<nav class="sidebar-nav">

<a class="nav-link role-admin" href="dashboard.html">
<span class="nav-label">Dashboard</span>
</a>

<a class="nav-link role-admin role-staff" href="inventory.html">
<span class="nav-label">Inventory</span>
</a>

<a class="nav-link role-staff" href="my-records.html">
<span class="nav-label">My Records</span>
</a>

<a class="nav-link role-admin" href="reports.html">
<span class="nav-label">Reports</span>
</a>

<a class="nav-link role-admin" href="create-staff.html">
<span class="nav-label">Create Staff</span>
</a>

</nav>

<div class="sidebar-footer">
<button class="logout-btn">Logout</button>
</div>

</aside>